body {
  background: #bfbfbf;
}

#container {
  position: relative;
  width: 1407px;
  height: 1056px;
  left: 20px;
  background: #0F380F;
}

.box {
  margin-bottom: -5px;
  display:inline-block !important;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-color: #306230;
  }

.snake {
    border-color: #9bbc0f;
    background: #9bbc0f;
  }

.food {
  border-color: #e74c3c;
  background: #e74c3c;
}

#retro {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 603px;
  top: 500px;
  background: #3498DB;
  display: none;
}
#retro_txt{
  margin: 0 auto;
  position: absolute;
  left: 80px;
  top: 30px;
  font-size: 26px;
}
#retro_btn{
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  left: 40px;
  top: 80px;
  font-size: 26px;
  color: #C0392B;
  background: #F1C40F;
}