body {
  background: #bfbfbf;
}

#canvas {
  position: relative;
  left: 20px;
  background: #0F380F;
  width: 768px;
  height: 576px;
}

#retro {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 275px;
  top: 275px;
  background: #3498DB;
  display: none;
}
#retro_txt{
  margin: 0 auto;
  position: absolute;
  left: 80px;
  top: 30px;
  font-size: 26px;
}
#retro_btn{
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  left: 40px;
  top: 80px;
  font-size: 26px;
  color: #C0392B;
  background: #F1C40F;
}