 body {
  background: white;
  color: white;
  margin: 0;
  padding: 0;
}

canvas{
  border: 1px solid black;
  display: block;
  margin: auto;
  padding: 0;
}

object {
  border: 1px;
  display: block;
  margin: auto;
}

button {
  border: none;
  color: black;
  padding: 5px 20px 5px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

#retro {
  top: 50px;
  left: 825px;
  height: 150px;
  width: 250px;
  margin: auto;
  background: black;
  border: 2px solid white;
  display: none;
  font-size: 30px;
  position: absolute;
  text-align: center;
}

#retro_txt {
  margin: 10px;
  font-size: 30px;
}

#retro_btn {
  background-color: white;
  border: 2.5px solid white;
  border-radius: 5px;
  font-size: 30px;
}