body {
  background: #bfbfbf;
}

#container {
  fill: #0F380F;
  stroke: #306230;
  stroke-dasharray: 0;
  stroke-width: 2;
}

#retro {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 275px;
  top: 275px;
  background: #3498DB;
  display: none;
}
#retro_txt{
  margin: 0 auto;
  position: absolute;
  left: 80px;
  top: 30px;
  font-size: 26px;
}
#retro_btn{
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  left: 40px;
  top: 80px;
  font-size: 26px;
  color: #C0392B;
  background: #F1C40F;
}