#info {
  visibility: hidden;
  background: 	#3ACF79;
  opacity: 0.90;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 25%;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#container {
  background: 	#FFFFFF;
  width: 790px;
  height: 790px;
  position: relative;
  margin: auto;
}

#child_1 {  
  border-right: 20px solid #000000;
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 0px;
  left: 0px;  
  width: 250px;
  height: 250px;
}

#child_2 {
  border-right: 20px solid #000000;
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 0px;
  left: 270px;
  width: 250px;
  height: 250px;
}

#child_3 {    
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 0px; 
  left: 540px;  
  width: 250px;
  height: 250px;
}

#child_4 {  
  border-right: 20px solid #000000;
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 270px;
  left: 0px;
  width: 250px;
  height: 250px;
}

#child_5 {  
  border-right: 20px solid #000000;
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 270px;  
  left: 270px;
  width: 250px;
  height: 250px;
}

#child_6 {    
  border-bottom: 20px solid #000000;

  position: absolute;
  top: 270px;
  left: 540px;
  width: 250px;
  height: 250px;
}

#child_7 {  
  border-right: 20px solid #000000;

  position: absolute;
  top: 540px;
  left: 0px;
  width: 250px;
  height: 250px;
}

#child_8 {  
  border-right: 20px solid #000000;

  position: absolute;
  top: 540px;
  left: 270px;
  width: 250px;
  height: 250px;
}

#child_9 {  
  position: absolute;
  top: 540px;
  left: 540px;
  width: 250px;
  height: 250px;
}

div [clicked="j1"] {
  background-size: contain;
  background-image: url("img/cross.svg");
  width: 30px;
  height: 30px;
}

div [clicked="j2"] {
  background-size: contain;
  background-image: url("img/circle.svg");
  width: 30px;
  height: 30px;
}
  