html
{ }

*
{ margin: 0;
  padding: 0;}

body
{ font-family: "trebuchet ms", arial, sans-serif;
  font-size: .84em;
  color: #222;
  line-height: 1.4em;
  background: #111;
  width: 900px;
  margin: 10px auto 0px auto;}
  
h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 150% 'lucida sans', arial;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  color: #A30101;}

h2
{ font-size: 140%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;}

a:hover
{ text-decoration: none;}

p
{ line-height: 1.5em;
  padding-bottom: 17px;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 12px 0;}

ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 0;}

ol li
{ margin: 0 0 11px 20px;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#basic-accordian
{ padding: 0px;
  background: #FFF;}

.accordion_headings
{ padding: 10px 25px 10px 25px;
  background: #444;
  color: #FFF;
  border-top: 1px solid #555;
  border-bottom: 1px solid #222;
  cursor: pointer;
  font-size: 120%;
  position: relative;
  z-index: 20;}

.accordion_headings:hover
{ background: #06D4EC;
  border-bottom: 1px solid #06D4EC;}

.accordion_child
{ padding: 25px;
  background: #FFF;}

.header_highlight
{ background: #06D4EC;
  border-bottom: 1px solid #06D4EC;}

#logo
{ width: 100%;
  height: 78px;
  background: transparent;
  color: #444;
  position: relative;
  z-index: 10;
  padding-top: 15px;}

#logo h1
{ font: normal 500% 'century gothic', arial;
  padding: 0 0 0 20px;
  margin: 0;
  color: #444;}

#footer p
{ letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  color: #444;
  font-size: 90%;}

#footer a, #footer a:hover
{ color: #76786A;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
.dos_columnas {
    padding-top: 20px;
    display: flex;
}
  
.columna {
    flex: 50%;
}

.nombre_matriz{
    flex: 30%;
}

.h1_nombre_matriz {
    color: #000;
    text-align: right;
    line-height:100px;
}

.contenido_matriz {
    flex: 70%;
}

.math {
    color: #06D4EC;
    font-style: italic;
    font-size: 110%;
}

p {
    font-size: 110%;
}

.btn-group{
    width: 100%;
}

.btn-group button {
    background-color: #444;
    border: 1px solid #555;
    color: white;
    padding: 10px 24px; /* Espacio entre los iconos */
    cursor: pointer;
    float: left;
}
  
  /* clearfix hack */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Evita bordes dobles*/
}
  
  /* Cambia el color en el click */
.btn-group button:hover {
    background-color: #06D4EC;
}

.btn_group_item {
    width: 16%;
    height: 70px;
}

.btn_paso {
    padding: 7.5px 25px;
    font-size: 120%;
    cursor: pointer;
    float: left;
    margin-top: 10px;
}

.info_inferior_matriz {
    margin-top: 80px;
    display: inline;
}

#mapa_matrices {
    height: 630px;
    width: 500px;
    display:block;
    margin:auto;
}

.btn_next {
    background: #A30101;
}

.matrix {
    margin: 0 auto;
    position: relative;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}
.matrix td {
    padding: 5px;    
    text-align: center;
}

.div_resultado {
    padding-top: 10px;
}

.titulo_operaciones {
    font-size: 190%;
    text-align: center;
}

.fila_resultado {
    color: #A30101;
}

.fila_normal {
    color: #000;
}

.fila_operando {
    color: #808080;
}

/* Div's ocultos al cargar. */
#motivacion_02,
#inicio_02,
#desarrollo_02,
#desarrollo_03,
#cierre_02,
#cierre_03,
#cierre_04,
#nombre_matriz_suma,
#nombre_matriz_escalar,
#btn_paso_02_suma,
#btn_paso_03_suma,
#btn_paso_02_escalar,
#btn_paso_03_escalar,
#btn_paso_04_escalar,
#btn_paso_05_escalar,
#btn_paso_06_escalar,
#btn_paso_07_escalar,
#btn_paso_08_escalar,
#btn_paso_09_escalar,
#nombre_matriz_mult,
#btn_paso_02_mult,
#btn_paso_03_mult,
#btn_paso_04_mult,
#btn_paso_05_mult,
#btn_paso_06_mult,
#btn_paso_07_mult,
#btn_paso_08_mult,
#btn_paso_09_mult,
#nombre_matriz_cierre_01,
#nombre_matriz_cierre_02{
    display: none;
}

